<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>DroidBerth 需要读取照片与视频的原始文件，才能把它们推送到你的 Android 设备。</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>DroidBerth 需要访问桌面，以便浏览和传输桌面上的文件。</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>DroidBerth 需要访问文稿文件夹，以便浏览和传输其中的文件。</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>DroidBerth 需要访问下载文件夹，以便浏览和传输其中的文件。</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>DroidBerth 需要访问可移动卷，以便浏览和传输外接存储上的文件。</string>
</dict>
</plist>
